/* #region RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #endregion */

/* #region COMMON */

.container-one {
  width: 1180px;
  margin: 0 auto;
}

.button {
  all: unset;
  padding: 10px 17px;
}

.button.blue {
  background-color: #0061ff;
  color: white;
}

/* #endregion */

/* #region BODY */

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 80px;
}

/* #endregion */

/* #region HEADER */

header {
  background-color: #b4d0e7;
  height: 737px;
}

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px 0 20px;
  background-color: white;
}

nav li {
  list-style-type: none;
  display: inline-block;
  padding: 0 20px 0 20px;
}

/* Aggiungi il bordo inferiore a tutti gli elementi tranne all'ultimo ovvero il bottone */
nav .left-menu li:hover,
nav .right-menu li:hover:not(:last-child) {
  border-bottom: 1px solid black;
}

nav li a {
  text-decoration: none;
  color: #464646;
  vertical-align: middle;
}

/* Ultimo elemento del right-menu ovvero il bottone "Inizia" */
nav .right-menu ul li:last-child {
  padding: 0;
}

h1 {
  font-size: 72px;
  padding-top: 105px;
}

.jumbotron {
  display: flex;
  justify-content: flex-start;
  margin-top: 72px;
}

.jumbotron .left-content,
.jumbotron .right-content img {
  width: 100%;
}

.jumbotron .left-content button {
  margin: 32px 0 32px 0;
}

.arrow-down {
  font-size: 48px;
  margin-top: 80px;
}

/* #endregion */
