/* #region RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #endregion */

/* #region COMMON */

.container-one {
  width: 1180px;
  margin: 0 auto;
}

.container-two {
  width: 1000px;
  margin: 0 auto;
}

.button {
  all: unset;
  padding: 10px 17px;
  cursor: pointer;
}

.button.blue {
  background-color: #0061ff;
  color: white;
  white-space: nowrap;
}

.button.graybtn {
  border: 1px solid black;
}

.fs16 {
  font-size: 16px;
}

.main-text-color {
  color: #d0d0d3;
}

.mbutton {
  margin: 52px 0 37px 0;
}

.separator {
  width: 48px;
  margin: 40px 0 54px 0;
}

.first-bottom-margin {
  margin-top: 40px;
}

.bottom-margin {
  margin: 25px 0;
}

.blue-color {
  color: #0061ff;
}

.link-style {
  color: #0061ff;
  text-decoration-color: #0061ff;
}

.mb150 {
  margin-bottom: 150px;
}

/* #endregion */

/* #region BODY */

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 80px;
}

/* #endregion */

/* #region HEADER */

header {
  background-color: #b4d0e7;
  height: 737px;
}

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px 0 20px;
  background-color: white;
}

nav ul li {
  list-style-type: none;
  padding: 0 20px 0 20px;
  display: inline-block;
}

/* Aggiungi il bordo inferiore a tutti gli elementi tranne all'ultimo ovvero il bottone
nav .left-menu li:hover,
nav .right-menu li:hover:not(:last-child) {
  border-bottom: 1px solid black;
} */

nav li a {
  text-decoration: none;
  color: #464646;
  vertical-align: middle;
}

/* Ultimo elemento del right-menu ovvero il bottone "Inizia" */
nav .right-menu ul li:last-child {
  padding: 0;
}

h1 {
  font-size: 72px;
  padding-top: 105px;
}

.jumbotron {
  display: flex;
  justify-content: flex-start;
  margin-top: 72px;
}

.jumbotron .left-content,
.jumbotron .right-content img {
  width: 100%;
}

.jumbotron .left-content button {
  margin: 32px 0 32px 0;
}

.arrow-down {
  font-size: 48px;
  margin-top: 80px;
}

/* #endregion */

/* #region MAIN */

main .first-main-title {
  margin-top: 165px;
}

main .container-two .inputs {
  margin: 70px 0 50px 0;
}

main .first-input,
main .second-input {
  display: inline-block;
}

main .first-input {
  margin-right: 50px;
}

main .three-col-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}

main .three-col-layout i {
  margin-right: 5px;
}

main .first-col,
main .second-col,
main .third-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
}

main .top-content {
  border: 1px solid #d0d0d3;
  padding: 13px 110px;
  text-align: center;
}

main .three-col-layout .bottom-content {
  border: 1px solid #d0d0d3;
  padding: 40px 30px;
  flex-grow: 1;
}

main .bottom-content .prezzo {
  margin-top: 26px;
  display: inline-block;
}

main .three-col-layout .bottom-content .periodo {
  margin-top: 19px;
}

main .three-col-layout .bottom-content .n-user {
  margin-top: 55px;
}

main .bottom-element {
  margin-top: 27px;
}

main .one-col-layout {
  margin-top: 50px;
}

main .one-col-layout .flex-container {
  display: flex;
  align-items: flex-start;
  border: 1px solid #d0d0d3;
  padding: 40px 30px;
}

main .hero-section {
  display: flex;
  gap: 52px;
  margin: 150px 0 170px 0;
}

main .hero-section .hero-img img {
  max-width: 600px;
  max-height: 512px;
}

main .hero-section .hero-text h2 {
  margin-top: 60px;
}

main .hero-section .hero-text p {
  margin: 20px 0 35px 0;
}

main .grid-section h2:first-child {
  margin-bottom: 80px;
  font-size: xx-large;
}

main .six-col-layout {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 55px;
}

main .six-col-layout img {
  width: 100%;
}

main .grid-section .six-col-layout .col {
  width: calc(100% / 3 - 55px);
}

main .grid-section h3 {
  margin-bottom: 40px;
}

main .h2-title {
  margin: 210px 0 65px 0;
  font-size: xx-large;
}

/* #endregion */
